.flex-vertical {
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
    flex-flow: column;
}

.flex-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.flex-con {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

html {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    background-color: #F7F3EA;
    color: #655A55;
    margin: 50px 0px 0px 0px;
    font-family: 'Lato', sans-serif;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: #F7F3EA;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7A6D67), color-stop(1, #59504B));
    background-image: -webkit-linear-gradient(top, #7A6D67 0%, #59504B 100%);
    background-image: linear-gradient(to bottom, #7A6D67 0%, #59504B 100%);
    display: -webkit-box;
    height: 50px;
    line-height: 50px;
}

a,
a:visited {
    text-decoration: none;
}

#left,
#right {
    width: 60px;
}

#middle {
    -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    font-size: 18px;
}

.groupName {
    padding: 10px 10px 0px 10px;
    color: #E1D7CA;
}

.group {
    margin: 10px;
    background-color: #F7F3EA;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #EED6B0;
    border-radius: 5px;
}

.field {
    height: 50px;
    font-size: 17px;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    color: #655A55;
    display: -webkit-box;
    border-bottom: 1px solid #EED6B0;
}

.textarea_field {
    height: 150px;
    font-size: 17px;
    -webkit-box-orient: vertical;
}

.bottom {
    border: none;
}

.key {
    width: 30%;
}

.more {
    font-size: 14px;
    text-align: right;
}

.value {
    width: 70%;
}

.textarea_key {
    width: 100%;
}

.textarea_value {
    width: 100%
}

input {
    width: 100%;
    font-size: 17px;
    overflow-x: visible;
    overflow-y: visible;
    background-color: #F7F3EA;
    border: none;
    text-align: right;
}

textarea {
    width: 100%;
    height: 80px;
    border: none;
    resize: none;
    background-color: #F7F3EA;
    font-size: 17px;
    padding: 0px;
}
