.flex-vertical {
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
    flex-flow: column;
}

.flex-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.flex-con {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}


html {
    padding: 0px;
    margin: 0px;
    border: 0px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;;
}

body {
    background-color: rgba(0, 0, 0, 0);
    color: #93979e;
    margin: 50px 0px 0px 0px;
    /*font-family: 'Lato', sans-serif;*/
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: #FFF;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7A6D67), color-stop(1, #59504B));
    background-image: -webkit-linear-gradient(top, #7A6D67 0%, #59504B 100%);
    background-image: linear-gradient(to bottom, #7A6D67 0%, #59504B 100%);
    display: -webkit-box;
    height: 50px;
    line-height: 50px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    z-index: 5;
    font-size: 13px;
}

.body-silver {
    background-color: #d5d7dc;
    color: #000;
}

.header-silver {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #73767a), color-stop(1, #484b4e));
    background-image: -webkit-linear-gradient(top, #73767a 0%, #484b4e 100%);
    background-image: linear-gradient(to bottom, #73767a 0%, #484b4e 100%);
}

#main {
    z-index: 0;
}

a,
a:visited {
    text-decoration: none;
}

#left,
#right {
    width: 54px;
}

#rightleft {
    width: 54px;
    margin-right: 0px;
}

#middle {
    -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    font-size: 20px;
    font-weight: bold;
}

.groupName {
    padding: 10px 10px 0px 10px;
    color: #93979e;
    font-size: 14px;
    font-weight: bold;
}

.subGroupName {
    padding: 5px 5px 0px 5px;
    color: #93979e;
    font-size: 14px;
    font-weight: bold;
}

.group {
    margin: 10px;
    background-color: #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #D5D7DC;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.9);
}

.group.group-view:hover {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.9);
}

.group.group-edit:hover {
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.9);
}

.onFieldClick {
    background-color: #688CD4;
    color: #FFF;
}

.field {
    height: 45px;
    font-size: 16px;
    line-height: 45px;
    padding-left: 10px;
    padding-right: 10px;
    color: #424758;
    border-bottom: 1px solid #f0f0f0;
    display: -webkit-box;
}

.leftColumn {
    width: 50%;
    display: -webkit-box;
    margin-right: 4px;
    border-right: 1px solid #f0f0f0;
}

.rightColumn {
    width: 50%;
    display: -webkit-box;
    margin-left: 5px;
}

.center {
    text-align: center;
}

.textarea_field {
    /*height: 120px;*/
    height: auto;
    /*font-size: 17px;*/
    -webkit-box-orient: vertical;
}

.accessory_img {
    display: inline;
    overflow: hidden;
}

.accessory_img>img {
    margin: 0px 5px;
    /*border: 1px solid #424758;*/
    /*height: 70px;*/
    /*width: 70px;*/
    max-height: 70px;
    /*max-width: 70px;*/
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    /*overflow: hidden;*/
}

.bottom {
    border: none;
}

.key {
    width: 30%;
    font-weight: bold;
}

.more {
    font-size: 14px;
    text-align: right;
}

.value {
    width: 67%;
}

.value_with_unit {
    width: 50%;
}

.value_with_unit_3 {
    width: 30%;
}

.value_with_unit_4 {
    width: 40%;
}

.value_with_unit_6 {
    width: 50%;
}

.unit {
    padding: 0px 0px 0px 10px;
    width: 20%;
/*    text-align: right;*/
}

.textarea_key {
    width: 100%;
    font-weight: bold;
}

.textarea_value {
    width: 100%
}

.field_img {
    display: -webkit-box;
}

.textarea_key_with_img {
    width: 70%;
    font-weight: bold;
}

.img_button {
    width: 30%;
    text-align: right;
}

.img_button>img {
    width: 35px;
    vertical-align: middle;
}

input {
    width: 100%;
    /*font-size: 17px;*/
    overflow-x: visible;
    overflow-y: visible;
    background-color: #FFF;
    border: none;
    text-align: right;
}

textarea {
    width: 100%;
    height: 30px;
    border: none;
    resize: none;
    background-color: #FFF;
    /*font-size: 17px;*/
    padding: 0px;
}

nav {
    margin: 0px;
    text-align: center;
    width: 64px;
    margin: 0px 0px 0px 0px;
}

nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

nav ul {
    padding: 0px;
    margin: 0px 0px 0px 0px;
    list-style: none;
    position: relative;
    display: inline-table;
}

nav ul:after {
    content: "";
    clear: both;
    display: block;
}

nav ul li {
    border-radius: 3px;
}

nav ul li:hover {
    background: #59504B;
    box-shadow: inset 0px 0px 20px rgba(0,0,0,.4);
}

nav ul li ul {
    box-shadow: 0px 0px 9px rgba(0,0,0,0.5);
}

nav ul li a {
    display: block;
    color: #E2D9C6;
    text-decoration: none;
    width: 54px;
}

nav ul ul {
    background: #59504B;
    position: absolute;
    top: 100%;
}

nav ul ul ul {
    position: absolute;
    right: 100%;
    top: 0;
}
